/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: -0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 79%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .3;
}
/* Navigation Bar Logo and Image */

#logo{
    margin: 10px 34px;
    
    
}
#logo img{
    margin: 3px 6px;
    height: 59px;
    border-radius: 58px;
    
}

/* Navigation Bar Logo Styling  */



#navbar ul{
    display: flex;
    font-family: 'Baloo Thambi 2', cursive;
}


#navbar ul li{
    /* color: wheat; */
    list-style: none;
    font-size: 1.5rem;
    
}
#navbar ul li a{
    color: rgb(0, 0, 0);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 520px;
    justify-content: center;
    align-items: center;
    
}
#home::before{
    content: "";
    position: absolute;
    background:  url(/src/images/vegan.jpg) no-repeat center center/cover;
    height: 642px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .9;
    
} 

#home h1{
    color: black;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;

}

#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */

#services{
    margin: 34px;
    display: flex;
    
}
#services .box{
    border: 3px solid brown;
    padding: 34px;
    margin: 9px;
    border-radius: 22px;
    background: #e3e3e1;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Client Section */

#client-section{
    height: 344px;
    position: relative;
    
}
#client-section::before{
    content: "";
    position:absolute;
    background: url(/src/images/clients1.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}
#clients{
        display: flex;
        justify-content: center;
        align-items: center;
}

.client-items{
    padding: 25px;
    
}
#clients img{
    height: 130px;

}



/* contact Section */

#contact{
    position: relative;
}
#contact{
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.0;
    background: url(/src/images/contact-us-4193523_1920.jpg) no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.2rem;
}

#contact-box form{
    width: 40%;
    
}
#contact-box label{
    font-size: 1.3rem;
    padding: 9px 20px;
    font-family: 'Bree Serif', serif; 
}

footer{
    background: black;
    color: wheat;
    padding: 9px 20px;
}


/* Utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    background: 2px solid white;
    background-color: tomato;
    color: wheat;
    margin: 17px;
    font-size: 1.5;
    border-radius: 11px;
    cursor:pointer;
}
.center{
    text-align: center;
}


